@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* sheared tag */
body {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.text-light-gray{
    color: rgb(114, 114, 114);
    font-size: 16px;
    font-weight: 400;
    margin-top: 32px;
    margin-bottom: 0;
}
/* header style here */
header{
    background: rgba(255, 144, 14, 0.1);
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
}
.nav-title{
    color: rgb(19, 19, 19);
    font-size: 2.8rem;
    /* 16px = 1rem */
    font-weight: 700;
    text-align: center;
}
.nav-link{
    padding-top: 35px;
}
nav > ul{
    display: flex;
}
nav li {
    list-style: none;
    margin-right: 30px;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}
nav li a{
    text-decoration: none;
    color: rgb(66, 66, 66);
}
/* banner styles*/
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    color: rgb(19, 19, 19);
    font-size: 64px;
    font-weight: 700;
    text-align: center;
    margin-top: 116px;
    margin-bottom: 0;
}

.btn-primary{
    padding: 20px 25px;
    border-radius: 8px;
    background: rgb(255, 144, 14);
    border: none;
    margin-top: 32px;
    margin-bottom: 50px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
}
.banner img{
    width: 100%;
    margin-top: 0;
}
/* main section here */
main{
    max-width: 1440px;
    margin: 70PX auto;
}
/* teams section here */
.teams-container{
    display: flex;
    align-items: center;
}
.teams-image-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.teams-content{
    padding-left: 70px;
    padding-right: 70px;
}
.teams-title{
    font-size: 2.8rem;
    max-width: 468px;
}
.quick{
    color: #727272;
    font-size: 45px;
    font-weight: 500;
}
.of-our{
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}
.features{
    color: #FF900E;
    font-size: 45px;
    font-weight: 700;
}
/* feature section styles */
.features-container{
    display: flex;
    margin-top: 130px;
    gap: 100px;
}
.features-container .section-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}
.feature-content .card{
    border-radius: 8px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
    padding: 30px;
    margin-bottom: 20px;
}
.feature-img .ten-years-batch{
    border-radius: 8px;
    background: rgb(255, 144, 14);
    width: 342px;
    color: rgb(255, 255, 255);
    padding: 45px 40px;
    text-align: center;
    margin: 0;
    position: relative;
    bottom: 150px;
}
.ten-years-batch h2{
    font-size: 45px;
    font-weight: 700;
}
.ten-years-batch p{
    font-size: 25px;
    font-weight: 500;
}
.feature-img img{
    height: 90%;
    margin-left: 90px;
}
/* facts section here */
.section-title{
    color: rgb(19, 19, 19);
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 24px;
}
.facts-card-container{
    display: flex;
    justify-content: space-between;
}
.facts-card-container .card{
    border: 1px solid rgb(255, 144, 14);
    border-radius: 8px;
    text-align: center;
    padding: 30px;
    margin-top: 100px;
    gap: 124px;
}
.facts-card-container .card-stats{
    color: rgb(66, 66, 66);
    font-size: 2.81rem;
    font-weight: 600;    
    margin-top: 10px;
    margin-bottom: 10px;
}
.facts-card-container .card-title{
    color: rgb(114, 114, 114);
    font-size: 1.25rem;
    font-weight: 600;
}

/* sponsors section */
.sponsors-container{
    text-align: center;
}
.sponsors-img-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    align-items: center;
    gap: 40px;
}
.sponsors-img-container img{
    width: 165px;
}
/* footer section here */
footer{
    border-radius: 8px;
    background: rgb(255, 244, 231);
    padding: 39px 410px;
    margin: 240px;
    text-align: center;
}
/* responsive media queries */

/* mobile device */
@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    nav li{
        padding-bottom: 10px;
    }
    nav,
    .teams-container,
    .facts-card-container,
    .sponsors-img-container,
    .features-container 
    {
        flex-direction: column;
    }
    .teams-image-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .teams-content, 
    .facts-container
    {
        padding-left: 20px;
        padding-right: 20px;
    }
    .facts-card-container{
        gap: 20px;
    }
    .facts-card-container .card{
        margin-top: 0;
    }
    .feature-img img{
        width: 100%;
        margin-left: 0;
    }
    .ten-years-batch{
        position: static;
        max-width: 200px;
    }
    footer {
        margin: 0;
        padding: 20px;
    }
    
}

/* tablet or medium devices */
@media screen and (min-width:576px) and (max-width:960px){
    header{
        padding: 50px;
    }
    nav,
    .teams-container,
    .sponsors-img-container,
    .features-container 
    {
        flex-direction: column;
    }
    footer {
        margin: 0;
        padding: 20px;
    }
}