@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* sheared tag */
body {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.text-light-gray{
    color: rgb(114, 114, 114);
    font-size: 16px;
    font-weight: 400;
    margin-top: 32px;
    margin-bottom: 0;
}
/* header style here */
header{
    background: rgba(255, 144, 14, 0.1);
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
}
.nav-title{
    color: rgb(19, 19, 19);
    font-size: 2.8rem;
    /* 16px = 1rem */
    font-weight: 700;
    text-align: center;
}
.nav-link{
    padding-top: 35px;
}
nav > ul{
    display: flex;
}
nav li {
    list-style: none;
    margin-right: 30px;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}
nav li a{
    text-decoration: none;
    color: rgb(66, 66, 66);
}
/* banner styles*/
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    color: rgb(19, 19, 19);
    font-size: 64px;
    font-weight: 700;
    text-align: center;
    margin-top: 116px;
    margin-bottom: 0;
}

.btn-primary{
    padding: 20px 25px;
    border-radius: 8px;
    background: rgb(255, 144, 14);
    border: none;
    margin-top: 32px;
    margin-bottom: 50px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
}
.banner img{
    width: 100%;
    margin-top: 0;
}
/* main section here */
main{
    max-width: 1440px;
    margin: 70PX auto;
}
/* teams section here */
.teams-container{
    display: flex;
    align-items: center;
}
.teams-image-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.teams-content{
    padding-left: 70px;
    padding-right: 70px;
}
.teams-title{
    font-size: 2.8rem;
    max-width: 468px;
}
.quick{
    color: #727272;
    font-size: 45px;
    font-weight: 500;
}
.of-our{
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}
.features{
    color: #FF900E;
    font-size: 45px;
    font-weight: 700;
}
/* responsive media queries */

/* mobile device */
@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    nav li{
        padding-bottom: 10px;
    }
    nav,.teams-container 
    {
        flex-direction: column;
    }
    .teams-image-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .teams-content{
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* tablet or medium devices */
@media screen and (min-width:576px) and (max-width:960px){
    header{
        padding: 50px;
    }
    nav,.teams-container 
    {
        flex-direction: column;
    }
}